p {
    width: 450px;
    /* BOTH of the following are required for text-overflow */
    white-space: initial;
    overflow: hidden;
    /* word-wrap:break-word; */
}

.overflow-visible {
    white-space: initial;
}

.overflow-clip {
    text-overflow: clip;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.overflow-string {
    /* Not supported in most browsers, 
       see the 'Browser compatibility' section below */
    text-overflow: " [..]";
}