<div class="row">
    <div class="col-sm-12">
      <div class="loading_div">
        <div class="me-loading-text">
          <span class="loading-text-words">L</span>
          <span class="loading-text-words">O</span>
          <span class="loading-text-words">A</span>
          <span class="loading-text-words">D</span>
          <span class="loading-text-words">I</span>
          <span class="loading-text-words">N</span>
          <span class="loading-text-words">G</span>
          <span class="loading-text-words">.</span>
          <span class="loading-text-words">.</span>
          <span class="loading-text-words">.</span>
        </div>
      </div>

    </div>

  </div>
  <div class="row center-xs middle-xs">
    <div class="col-sm-12">
      <div id="me-preloader">
        <div id="preloader-child"></div>
      </div>

    </div>

  </div>