<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container style="height: 100vh;">

    <!-- A sidebar -->
    <ng-sidebar #sidebar [(opened)]="_opened" [mode]="'over'" [closeOnClickOutside]="true" [showBackdrop]="true">
        <app-me-left-side-nav></app-me-left-side-nav>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <!-- header toolbar  Start-->
        <app-me-header-nav (toggleSidebarEvent)="receiveToggleSidebarObj($event)"></app-me-header-nav>
        <!-- header toolbar  End-->

        <section id="me-breadcrumb">
            <nav class="mt-ng-075  pl-1 me-gradient-white">
                <div class="nav-wrapper me-gradient-white pl-1">
                    <div class="col s12">
                        <a [routerLink]="['/home']" class="breadcrumb   ">Home</a>
                        <a [routerLink]="['/managepayments']" class="breadcrumb  ">Manage Payments</a>
                        <a [routerLink]="['/addrebate']" class="breadcrumb  ">Add Rebate</a>

                    </div>
                </div>
            </nav>
        </section>

        <div class="container">
            <main class="mt-ng-1 pt-3">

                <!--Section collectPayment - Start -->
                <section id="collectPayment" class="animate fadeIn">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-2">
                            <!-- Card Start -->
                            <div class="card-panel m-0 p-0 ">
                                <!-- Form Content Row - Start -->
                                <form [formGroup]="collectPayment" (ngSubmit)="onSubmit(collectPayment.value)" [class.error]="!collectPayment.valid && collectPayment.touched">
                                    <!-- form header ~ Start -->
                                    <div class="row mb-0 pb-0">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <section>
                                                <h5 class="grey lighten-3 m-0 p-1 darkPrimaryText me-text-shawdow font-weight-500">
                                                    <i class="fas fa-plus-square fa-fw"></i>Add Rebate</h5>
                                            </section>
                                        </div>
                                    </div>
                                    <!-- form header ~ End -->
                                    <!-- *********** Customer Details ~ Start *********** -->
                                    <div class="row mb-0 pb-0">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <app-me-customer-details (customerObjectEvent)="receiveCustomerObject($event)"></app-me-customer-details>
                                        </div>
                                    </div>
                                    <!-- *********** Customer Details ~ End *********** -->
                                    <!-- *********** Bill  Details ~ Start ***********    -->
                                    <div class="row p-2 pt-0 pb-0 mb-1">
                                        <div class="col-xs-12 col-sm-12">
                                            <h6 class="pl-1 pb-2 me-border-bottom-2 secondaryTextColor ">
                                                <strong>
                            <i class="fas fa-circle fa-xs  fnt-sz-050 orange-text text-lighten-3" style="vertical-align: 40%;"></i> Current Bill Details</strong>
                                            </h6>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-2">
                                            <div class="card-panel m-0 p-0 mt-2 min-height-100" *ngIf="showLoader">
                                                <div class="col-xs-12 col-sm-12 center-xs middle-xs pt-3">
                                                    <app-me-preloader-circular></app-me-preloader-circular>
                                                </div>
                                            </div>

                                            <div class="card-panel m-0 p-0 min-height-100 animate fadeIn" *ngIf="!showLoader">
                                                <div class="row m-0 p-0">
                                                    <div class="col-xs-12 col-sm-12 p-0">
                                                        <table class="responsive-table">
                                                            <thead class="grey lighten-3 accentTextColor p-1">
                                                                <tr>
                                                                    <th class="center-align fnt-sz-075 p-2">Bill Number</th>
                                                                    <th class="center-align fnt-sz-075 p-2">Bill Month</th>
                                                                    <th class="center-align fnt-sz-075 p-2">Bill Date</th>
                                                                    <th class="center-align fnt-sz-075 p-2">Bill Status</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <tr>
                                                                    <td class="center-align fnt-sz-075 p-1">{{this.billNumber}}</td>
                                                                    <td class="center-align fnt-sz-075 p-1">{{this.billDate | date:'MMM-y' }}</td>
                                                                    <td class="center-align fnt-sz-075 p-1">{{this.billDate | date:'d-MMM-y'}}</td>
                                                                    <td class="center-align fnt-sz-075 p-1">
                                                                        <span class="me-status-chip" [ngClass]="{'red': this.redFlag, 'green': this.greenFlag,'orange': this.orangeFlag  }">{{this.billType}}</span>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row pb-0 mb-0">
                                                    <div class="col-xs-6 col-sm-6 col-xs-offset-5 ">
                                                        <div class="row pb-0 mb-0">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="accentTextColor fnt-sz-075"> Previous Due</span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075">{{this.previousDue | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-0 mb-0">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="accentTextColor fnt-sz-075"> Partial Payment</span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075">{{this.partialPayment | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-0 mb-0">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="accentTextColor fnt-sz-075"> Rent</span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075">{{this.rent_amount | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-0 mb-0">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="accentTextColor fnt-sz-075"> CGST</span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075">{{this.CGSTAmount | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-0 mb-0">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="accentTextColor fnt-sz-075"> SGST</span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075">{{this.SGSTAmount | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-0 mb-0">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="accentTextColor fnt-sz-075"> Total Tax </span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075">{{this.totalTax | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-0 mb-0 ">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="accentTextColor fnt-sz-075"> Monthly Rental </span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075">{{this.billAmount | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="row pb-0 mb-0">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="secondaryTextColor fnt-sz-075"> Rebate Amount </span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075 secondaryTextColor">{{this.rebateAmountTillDate | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="row pb-0 mb-0 ">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="secondaryTextColor fnt-sz-075"> Additional Charges </span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075 secondaryTextColor">{{this.additionalCharge | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="row pb-0 mb-0 me-border-top-1">
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="accentTextColor fnt-sz-075 font-weight-700"> Collection Amount </span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 right-align m-0 p-1">
                                                                <span class="fnt-sz-075 font-weight-700">{{this.collectionAmount | number : '1.2-2' }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- *********** Collect Summary Table ~ Start ***********    -->

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2" *ngIf="showCollectionSummary">
                                            <table class="z-depth-1-half">
                                                <thead class="grey lighten-3">
                                                    <tr>
                                                        <th class="fnt-sz-075 p-1 center-align">Org. Collection Amt</th>
                                                        <th class="fnt-sz-075 p-1 center-align">Received Amount</th>
                                                        <!-- <th class="fnt-sz-075 p-1 center-align">Outstading Bal</th> -->
                                                        <th class="fnt-sz-075 p-1 center-align">Available Bal</th>
                                                        <th class="fnt-sz-075 p-1 center-align">Collected On</th>
                                                        <th class="fnt-sz-075 p-1 center-align">Collected By</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td class="fnt-sz-100 p-1 center-align">
                                                            <span class="me-status-chip grey">
                                  {{originalCollectionAmt | number : '1.2-2' }}
                                </span>
                                                        </td>
                                                        <td class="fnt-sz-100 p-1 center-align">
                                                            <span class="me-status-chip grey">
                                  {{receivedAmt | number : '1.2-2' }}
                                </span>
                                                        </td>
                                                        <!-- <td class="fnt-sz-100 p-1 center-align"><span class="me-status-chip grey">
                                    {{outstadingBal  | number : '1.2-2' }}
                                </span></td> -->
                                                        <td class="fnt-sz-100 p-1 center-align">
                                                            <span class="me-status-chip grey">
                                  {{availableBal | number : '1.2-2'}}
                                </span>
                                                        </td>
                                                        <td class="fnt-sz-100 p-1 center-align">
                                                            <span class="me-status-chip grey ">
                                  {{collectedOn | date:'dd-MMM-yyyy HH:mm' }}
                                </span>

                                                        </td>
                                                        <td class="fnt-sz-100 p-1 center-align">
                                                            <span class="me-status-chip grey ">
                                  {{collectedBy}}
                                </span>

                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- *********** Collect Summary Table ~ End ***********    -->

                                    </div>

                                    <!-- *********** Bill  Details ~ End ***********    -->
                                    <!-- *********** Add Charges ~ Start ***********    -->
                                    <div class="row p-2 pt-0 mb-1 pb-1">
                                        <div class="col-xs-12 col-sm-12">
                                            <h6 class="pl-1 pb-1 me-border-bottom-2 secondaryTextColor ">
                                                <strong>
                            <i class="fas fa-circle fa-xs fa-fw mr-1 fnt-sz-050 orange-text text-lighten-3" style="vertical-align: 40%;"></i>Rebate Details</strong>
                                            </h6>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="input-field col s12">
                                                <input id="rebateAmount" type="number" min="1" max="50000" class="validate active" placeholder="0.0" [formControl]="collectPayment.controls['rebateAmount']" required>
                                                <label for="rebateAmount" class="me-form-input-label  me-input-label required">Amount</label>

                                                <!-- *********************  form validation  messages ********************* -->
                                                <div class="me-required-text left animated zoomIn" *ngIf="rebateAmount.hasError('required')  && rebateAmount.touched">
                                                    <small class="">
                              <i class="fas fa-exclamation-triangle fa-fw"></i>Required</small>
                                                </div>
                                                <div class="me-helper-text left animated zoomIn" *ngIf="!rebateAmount.valid && !rebateAmount.touched">
                                                    <small class="">
                              <i class="fas fa-info-circle fa-fw"></i>Amt. greater than 0</small>

                                                </div>
                                                <!-- <div class="green-text left " style="margin-left: 45px;" *ngIf="user_password.valid  && user_password.touched"><small></small></div> -->
                                                <!-- *********************  form validation  messages ********************* -->

                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <div class="input-field col s12">
                                                <input id="rebateRemarks" type="text" maxlength="50" placeholder="Enter Remarks" [formControl]="collectPayment.controls['rebateRemarks']">
                                                <label for="rebateRemarks" class="me-form-input-label  me-input-label">Remarks</label>

                                                <!-- *********************  form validation  messages ********************* -->
                                                <div class="me-required-text left animated zoomIn" *ngIf="rebateRemarks.hasError('required')  && rebateRemarks.touched">
                                                    <small class="">
                              <i class="fas fa-exclamation-triangle fa-fw"></i>Required</small>
                                                </div>
                                                <div class="me-helper-text left animated zoomIn" *ngIf="!rebateRemarks.valid && !rebateRemarks.touched">
                                                    <small class="">
                              <i class="fas fa-info-circle fa-fw"></i>Enter Remarks </small>

                                                </div>
                                                <!-- <div class="green-text left " style="margin-left: 45px;" *ngIf="user_password.valid  && user_password.touched"><small></small></div> -->
                                                <!-- *********************  form validation  messages ********************* -->
                                            </div>
                                        </div>

                                    </div>

                                    <!-- *********** Add Charges ~ End ***********    -->
                                    <!-- *********** Rebate Summary ~ Start ***********    -->
                                    <div class="row mb-1 p-2 mt-0 pt-0" *ngIf="showRebateSummary">
                                        <div class="col-xs-12 col-sm-12 animated fadeIn">
                                            <table class="z-depth-1-half">
                                                <thead class="blue lighten-3">
                                                    <tr>
                                                        <th class="fnt-sz-075 p-1 center-align">Collection Amount</th>
                                                        <th class="fnt-sz-075 p-1 center-align">Rebate Amount</th>
                                                        <th class="fnt-sz-075 p-1 center-align">Outstanding Balance</th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td class="fnt-sz-150 p-1 center-align">
                                                            <span class="me-status-chip blue">
                                  {{ collectionAmount | number : '1.2-2' }}
                                </span>
                                                        </td>
                                                        <td class="fnt-sz-150 p-1 center-align">
                                                            <span class="me-status-chip blue">
                                  {{amountRebateDisplay | number : '1.2-2' }}
                                </span>
                                                        </td>

                                                        <td class="fnt-sz-150 p-1 center-align" *ngIf="!this.showMessage">
                                                            <span class="me-status-chip blue">
                                  {{this.collectionAmountDisplay | number : '1.2-2'}}
                                </span>
                                                        </td>
                                                        <td class="fnt-sz-150 p-1 center-align" *ngIf="this.showMessage">
                                                            <span class="me-status-chip red">
                                  {{this.collectionAmountDisplay | number : '1.2-2'}}
                                </span>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 mt-1">
                                            <p class="blue lighten-5 blue-text m-0 p-1 fnt-sz-075 animated fadeIn" *ngIf="!this.showMessage">
                                                <span>
                            <i class="fas fa-info-circle fa-fw blue-text fa-lg"></i>
                            <span class="me-status-chip blue lighten-3 fnt-sz-100">Info</span> - Rebate will be added to current bill.
                                                </span>
                                            </p>
                                            <p class="red lighten-5 red-text m-0 p-1 fnt-sz-075 animated fadeIn" *ngIf="this.showMessage">
                                                <span>
                            <i class="fas fa-info-circle fa-fw red-text fa-lg"></i>
                            <span class="me-status-chip red lighten-3 fnt-sz-100">Caution</span> - Rebate amount cannot exceed collection amount.
                                                </span>
                                            </p>
                                        </div>

                                    </div>
                                    <!-- *********** Rebate Summary ~ End ***********    -->

                                    <!-- *************************** Submit Row ***************************   -->
                                    <div class="divider mb-1 "></div>
                                    <section class="mt-2 pr-2 pb-1">
                                        <div class="row end-lg end-sm center-xs end-md">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <a (click)="cancelButtonLink()" class="btn waves-effect waves-light border-round me-gradient-45deg-light-red-darkred z-depth-2 hoverable" name="cancel"> Cancel
                            <i class="fas fa-times-circle fa-fw"></i>
                          </a>
                                                <button class="btn waves-effect waves-light border-round me-gradient-45deg-light-blue-cyan z-depth-2 hoverable" type="submit" name="submit" [ngClass]="{'animated wobble': IsformValid}" (mouseover)="IsformValid= (!collectPayment.valid)" (mouseout)="IsformValid=false">Submit
                            <i class="fas fa-check-circle fa-fw"></i>
                          </button>
                                                <!-- <button class="btn waves-effect waves-light border-round me-gradient-45deg-light-red z-depth-2 hoverable" name = "download"
                             type="button" *ngIf = "this.greenFlag===true" (click)="downloadPdf()">Print PDF <i class="fas fa-download fa-fw"></i></button>
                            -->
                                            </div>
                                        </div>
                                    </section>

                                    <!-- *********** form -submit row - End *********** -->

                                    <!-- *********** form - notifications - Start *********** -->
                                    <simple-notifications></simple-notifications>
                                    <!-- *********** form - notifications - End *********** -->



                                </form>
                                <!-- Form Content Row - End -->
                            </div>
                            <!-- Card End -->
                        </div>
                    </div>
                </section>

                <!--Section collectPayment - End -->


            </main>
        </div>
    </div>